services:
  jenkins:
    image: jenkins/jenkins:2.479-jdk17
    platform: linux/arm64
    privileged: true
    user: root
    ports:
      - 8081:8080
      - 50001:50000
    container_name: jenkins
    volumes:
      - jenkins_home:/var/jenkins_home
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=true

  nginx:
    image: nginx:alpine
    platform: linux/arm64
    ports:
      - '9000:80'
    configs:
      - source: nginx_config
        target: /etc/nginx/conf.d/default.conf
    depends_on:
      - jenkins

volumes:
  jenkins_home:

configs:
  nginx_config:
    file: ./nginx.conf
